In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
freeFloat = pd.read_csv('extraCompanyDataFinal/freeFloatPercfinal.csv')
freeFloat = freeFloat.iloc[::-1]
freeFloat = freeFloat.reset_index(drop=True)

outShares = pd.read_csv('extraCompanyDataFinal/outstandingSharesFinal.csv')
outShares = outShares.iloc[::-1]
outShares = outShares.reset_index(drop=True)
outShares.head(10)

,Unnamed: 0,AAL,ABF,ADM,AHT,ANTO,AUTO,AV.,AVV,AZN,...,SVT,TSCO,TUI,TW.,ULVR,UU.,VOD,WG.,WPP,WTB
0,2017-05-12,1402243988,791674183,284782447,499225712,985865695,974767869,4068398589,63975869,1265640640,...,235923631,8175479694,587038187,3271773637,2846233656,681900000,26623288193,383175384,1278466546,183385950
1,2017-08-16,1404605828,791674183,284782447,499225712,985856695,971144195,4037027628,63979082,1265794991,...,236227300,8188872721,587038187,3271983845,2826500402,681888418,26667760581,383175384,1272902191,183413328
2,2017-11-15,1404608606,791674183,287214262,499225712,985865695,964893822,4011205623,64000869,1265948818,...,236263530,8190684072,587386900,3271983845,2802539872,681888418,26673804179,677688536,1263608076,183426364
3,2018-02-14,1404615227,791674183,287214262,495085712,985865695,953813480,4013102343,64036851,1266395869,...,236270102,8192116619,587386900,3276146553,2794541372,681888418,26674714037,677705405,1269932614,183428708
4,2018-05-17,1404769279,791674183,287741113,489897891,985856695,947966455,4020322953,161207315,1266647412,...,236808957,9766305447,587386900,3276634192,2738881591,681888418,26676560828,677739369,1262332044,183575026
5,2018-08-17,1404773410,791674183,287741113,486344305,985856695,948151129,3929797977,161208460,1266776325,...,237061359,9790155296,587386900,3276671471,2706727874,681888418,26715060473,677739369,1261768944,183628409
6,2018-11-16,1404778599,791674183,290502737,481079281,985865695,938915746,3901451022,161270676,1266798130,...,237149134,9793496561,587901304,3276671471,2684424979,681888418,26716955152,681539369,1261813014,183636582
7,2019-02-08,1404921479,791674183,290502737,474615278,985865695,935687917,3902816312,161285176,1267101448,...,237165741,9793496561,587901304,3278570979,2883258350,681888418,26720396036,681539369,1261823674,181708250
8,2019-05-10,1405079530,791674183,290949880,468369178,985856695,929215357,3915896777,161291460,1311759192,...,237403744,9793496561,587901304,3279537144,2618914239,681888418,26824974957,681539369,1261890152,173854532
9,2019-08-16,1386584542,791674183,290949880,462230321,985856695,926373989,3916893934,161384751,1311876336,...,237871086,9793496561,587901304,3279824218,2618914239,955844598,26767415647,681539369,1261904652,133683081

In [22]:
for j in range(len(freeFloat.columns)-1):
    for i in range(len(freeFloat.iloc[:,j+1])-1):
        company = freeFloat.iloc[:,j+1].copy()
        company[i] = round(company[i],4)
        if i%4 != 3:
            
            if company[i+1]>0.15 and abs(company[i+1]-company[i])<0.03:
                company[i+1]=company[i]
            elif company[i+1]<0.15 and abs(company[i+1]-company[i])<0.01:
                company[i+1]=company[i]
            freeFloat.iloc[:,j+1] = company
        

freeFloat = freeFloat.iloc[::-1]
freeFloat = freeFloat.reset_index(drop=True)
freeFloat.head(10)

,Unnamed: 0,AAL,ABF,ADM,AHT,ANTO,AUTO,AV.,AVV,AZN,...,WPP,WTB,BAB,PFG,GFS,RMG,JE.,MDC,HMSO,CTEC
0,2019-08-16,0.897,0.435,0.654,0.982,0.349,0.965,0.997,0.393,0.997,...,0.969,0.973,0.987,0.983,0.992,0.998,0.861,0.553,0.953,0.794
1,2019-05-10,0.722,0.435,0.654,0.982,0.349,0.965,0.997,0.393,0.997,...,0.969,0.973,0.987,0.983,0.992,0.998,0.861,0.553,0.953,0.794
2,2019-02-08,0.739,0.438,0.577,0.980,0.340,0.969,0.994,0.395,0.997,...,0.965,0.983,0.984,0.984,0.991,0.996,0.827,0.553,0.948,0.785
3,2018-11-16,0.739,0.438,0.577,0.980,0.340,0.969,0.994,0.395,0.997,...,0.965,0.983,0.984,0.984,0.991,0.996,0.827,0.514,0.948,0.785
4,2018-08-17,0.739,0.438,0.577,0.980,0.340,0.969,0.994,0.395,0.997,...,0.965,0.983,0.984,0.984,0.991,0.996,0.862,0.514,0.948,0.785
5,2018-05-17,0.739,0.438,0.577,0.980,0.340,0.969,0.994,0.395,0.997,...,0.965,0.983,0.984,0.984,0.991,0.996,0.862,0.514,0.948,0.785
6,2018-02-14,0.739,0.438,0.651,0.966,0.341,0.946,0.992,0.989,0.996,...,0.973,0.987,0.988,0.973,0.995,0.987,0.863,0.505,0.944,0.781
7,2017-11-15,0.739,0.438,0.651,0.966,0.341,0.946,0.992,0.989,0.996,...,0.973,0.987,0.988,0.973,0.995,0.987,0.863,0.505,0.944,0.781
8,2017-08-16,0.818,0.438,0.651,0.966,0.341,0.946,0.992,0.989,0.996,...,0.973,0.987,0.988,0.973,0.995,0.987,0.817,0.505,0.944,0.983
9,2017-05-12,0.932,0.438,0.651,0.966,0.341,0.946,0.992,0.989,0.996,...,0.973,0.987,0.988,0.973,0.995,0.987,0.817,0.505,0.993,0.983

In [23]:
for j in range(len(outShares.columns)-1):
    for i in range(len(outShares.iloc[:,j+1])-1):
        company = outShares.iloc[:,j+1].copy()
        if i%4 != 3:
            if company[i]!=0:
                if (abs(company[i+1]-company[i]))/company[i]<0.01:
                    company[i+1]=company[i]
            outShares.iloc[:,j+1] = company
outShares = outShares.iloc[::-1]
outShares = outShares.reset_index(drop=True)
freeFloat.head(10)

,Unnamed: 0,AAL,ABF,ADM,AHT,ANTO,AUTO,AV.,AVV,AZN,...,WPP,WTB,BAB,PFG,GFS,RMG,JE.,MDC,HMSO,CTEC
0,2019-08-16,0.897,0.435,0.654,0.982,0.349,0.965,0.997,0.393,0.997,...,0.969,0.973,0.987,0.983,0.992,0.998,0.861,0.553,0.953,0.794
1,2019-05-10,0.722,0.435,0.654,0.982,0.349,0.965,0.997,0.393,0.997,...,0.969,0.973,0.987,0.983,0.992,0.998,0.861,0.553,0.953,0.794
2,2019-02-08,0.739,0.438,0.577,0.980,0.340,0.969,0.994,0.395,0.997,...,0.965,0.983,0.984,0.984,0.991,0.996,0.827,0.553,0.948,0.785
3,2018-11-16,0.739,0.438,0.577,0.980,0.340,0.969,0.994,0.395,0.997,...,0.965,0.983,0.984,0.984,0.991,0.996,0.827,0.514,0.948,0.785
4,2018-08-17,0.739,0.438,0.577,0.980,0.340,0.969,0.994,0.395,0.997,...,0.965,0.983,0.984,0.984,0.991,0.996,0.862,0.514,0.948,0.785
5,2018-05-17,0.739,0.438,0.577,0.980,0.340,0.969,0.994,0.395,0.997,...,0.965,0.983,0.984,0.984,0.991,0.996,0.862,0.514,0.948,0.785
6,2018-02-14,0.739,0.438,0.651,0.966,0.341,0.946,0.992,0.989,0.996,...,0.973,0.987,0.988,0.973,0.995,0.987,0.863,0.505,0.944,0.781
7,2017-11-15,0.739,0.438,0.651,0.966,0.341,0.946,0.992,0.989,0.996,...,0.973,0.987,0.988,0.973,0.995,0.987,0.863,0.505,0.944,0.781
8,2017-08-16,0.818,0.438,0.651,0.966,0.341,0.946,0.992,0.989,0.996,...,0.973,0.987,0.988,0.973,0.995,0.987,0.817,0.505,0.944,0.983
9,2017-05-12,0.932,0.438,0.651,0.966,0.341,0.946,0.992,0.989,0.996,...,0.973,0.987,0.988,0.973,0.995,0.987,0.817,0.505,0.993,0.983

In [24]:
freeFloat.to_csv('extraCompanyDataFinal/freeFloatBuffered.csv')
outShares.to_csv('extraCompanyDataFinal/outSharesBuffered.csv')

In [12]:
outShares

,Unnamed: 0,AAL,ABF,ADM,AHT,ANTO,AUTO,AV.,AVV,AZN,...,SVT,TSCO,TUI,TW.,ULVR,UU.,VOD,WG.,WPP,WTB
0,2017-05-12,1402243988,791674183,284782447,499225712,985865695,974767869,4068398589,63975869,1265640640,...,235923631,8175479694,587038187,3271773637,2846233656,681900000,26623288193,383175384,1278466546,183385950
1,2017-08-16,1402243988,791674183,284782447,499225712,985865695,974767869,4068398589,63975869,1265640640,...,235923631,8175479694,587038187,3271773637,2846233656,681900000,26623288193,383175384,1278466546,183385950
2,2017-11-15,1402243988,791674183,284782447,499225712,985865695,964893822,4011205623,63975869,1265640640,...,235923631,8175479694,587038187,3271773637,2802539872,681900000,26623288193,677688536,1263608076,183385950
3,2018-02-14,1402243988,791674183,284782447,499225712,985865695,953813480,4011205623,63975869,1265640640,...,235923631,8175479694,587038187,3271773637,2802539872,681900000,26623288193,677688536,1263608076,183385950
4,2018-05-17,1404769279,791674183,287741113,489897891,985856695,947966455,4020322953,161207315,1266647412,...,236808957,9766305447,587386900,3276634192,2738881591,681888418,26676560828,677739369,1262332044,183575026
5,2018-08-17,1404769279,791674183,287741113,489897891,985856695,947966455,3929797977,161207315,1266647412,...,236808957,9766305447,587386900,3276634192,2706727874,681888418,26676560828,677739369,1262332044,183575026
6,2018-11-16,1404769279,791674183,287741113,481079281,985856695,947966455,3929797977,161207315,1266647412,...,236808957,9766305447,587386900,3276634192,2706727874,681888418,26676560828,677739369,1262332044,183575026
7,2019-02-08,1404769279,791674183,287741113,474615278,985856695,935687917,3929797977,161207315,1266647412,...,236808957,9766305447,587386900,3276634192,2883258350,681888418,26676560828,677739369,1262332044,181708250
8,2019-05-10,1405079530,791674183,290949880,468369178,985856695,929215357,3915896777,161291460,1311759192,...,237403744,9793496561,587901304,3279537144,2618914239,681888418,26824974957,681539369,1261890152,173854532
9,2019-08-16,1386584542,791674183,290949880,462230321,985856695,929215357,3915896777,161291460,1311759192,...,237403744,9793496561,587901304,3279537144,2618914239,955844598,26824974957,681539369,1261890152,133683081